
.header {
  background-color: #f1f1f1;
  padding: none;
  text-align: center;
  margin:top;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 14px;
  margin-top;
}

#navbar a:hover {
  background-color: #00000;
  color: black;
}

#navbar a.active {
  background-color: #00000;
  color: white;
}

.content {
  padding: 16px;
}
/*sticky nav bar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*----------------------------------------------------------------------------------*/
.slideshow{
  margin:inherit;
}
